---
export interface Props {
	class: string
	menu: {
		section: string
		children: {
			title: string
			href: string
		}[]
	}[]
}

const { menu, class: classname } = Astro.props
---

<aside
	class="flex-shrink-0 top-24 md:top-0 md:relative w-full md:w-1/4 max-w-[260px]"
  class:list="overflow-hidden"
>
	<input
		id="menu-toggle"
		type="checkbox"
		class="menu-state absolute invisible h-0 w-0 md:hidden"
	/>
	<label
		for="menu-toggle"
		aria-title="Open Menu"
		class="flex items-center md:hidden py-2 border-t border-b border-gray-100 dark:border-gray-800 text-gray-500 dark:text-gray-300 mb-8 font-medium"
	>
		<div class="burger-icon">
			<div></div>
			<div></div>
			<div></div>
		</div>
		Open Menu
	</label>
	<nav class="hidden md:block mr-10">
		{
			menu.map((item) => (
				<>
					<h5 class="uppercase font-semibold text-sm text-gray-400 mb-2">
						{item.section}
					</h5>
					<ul class="mb-8 font-medium">
						{item.children.map((item) => (
							<li>
								<a
									class:list={[
										'py-1 px-2 -mx-2 block rounded text-gray-600 dark:text-gray-300',
										Astro.url.pathname === item.href
											? 'bg-brand-100 dark:bg-brand-900 text-brand-600 dark:text-brand-400 hover:text-brand-600'
											: 'hover:text-gray-900 dark:hover:text-gray-400',
									]}
									href={item.href}
								>
									{item.title}
								</a>
							</li>
						))}
					</ul>
				</>
			))
		}
	</nav>
</aside>
